<style type="text/css" title="currentStyle">
    @import "/BenchSystem/resource/plugins/dataTables-1.9.4/css/dataTable.css";
</style>
<link rel="stylesheet" type="text/css" href="/BenchSystem/resource/plugins/tipped-3.1.3/css/tipped.css" />
<script type="text/javascript" src="/BenchSystem/resource/plugins/tipped-3.1.3/js/tipped.js"></script>
<script type="text/javascript" src="/BenchSystem/resource/plugins/dataTables-1.9.4/js/jquery.dataTables.min.1.9.4.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    	$('.dataTable').dataTable();
    });
    function ShowToolTip(){
       Tipped.create(".skillsToolTip",{maxWidth: 600, hook: 'leftmiddle'});
       Tipped.create(".commentToolTip",{skin: 'green', maxWidth: 600});
    }
</script>
<form action="search" method="POST" class="form-horizontal">
    <br />
    <br />
    <div class="control-group">
        <!-- Text input-->
        <label class="control-label" for="input01">Disponibility Date</label>
        <div class="controls">
            <input type="date" name="limitDate" id="LimitDate" class="input-xlarge" />
        </div>
    </div>
    <br />
    <div class="control-group">
        <!-- Select Basic -->
        <label class="control-label">Development Center</label>
        <div class="controls">
            #springFormSingleSelect("resourceForm.center" $centers "class='input-xlarge'")
        </div>
    </div>
    <br />
    <div class="control-group">
        <!-- Select Basic -->
        <label class="control-label">Area</label>
        <div class="controls">
            #springFormSingleSelect("resourceForm.area" $areas "class='input-xlarge'")
        </div>
    </div>
    <br />
    <div class="control-group">
        <!-- Button -->
        <div class="controls">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
		<a href="#springUrl("/List")">list</a>
    </div>
</form>
<legend></legend>
<p style="font-weight: bold;">Resources on the Bench</p>
<div id="demo_trident">
    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable">
        <thead>
            <tr class="gradeU">
                <th>Name</th>
                <th>Address</th>
                <th>Actual free Allocation</th>
                <th>Availability Date</th>
                <th>English Level</th>
                <th>Details</th>
                <th class="hideElement">Status</th>
            </tr>
        </thead>
        <tbody>
            #foreach($resource in $resources)
            #if($resource.getStatus()=="inBench")
            <tr class="gradeRed">
                #else
            <tr class="gradeYellow">
                #end
                <td><a href="#springUrl("/ResourceProfile/$resource.getIdColabolarador()")">$resource.getName()</a></td>
                <td>$resource.getLocation()</td>
                <td class="center">$resource.getPercent()</td>
                #if($resource.getFinishDate())
                <td class="center">$resource.getFinishDate()</td>
                #else
                <td class="center">Now Available</td>
                #end
                <td class="center">$resource.getEnglishLevel()</td>
                <td class="center">
                    <div class="hideElement">
                        $resource.getSkills()
                    </div>
                    
                    #if($resource.getSkills())
                    <span class="skillsToolTip" title="&lt;b&gt;Skills: &lt;/b&gt;$resource.getSkills()" />
                    #else
                    <span class="skillsToolTip" title="&lt;b&gt;Skills NOT Available&lt;/b&gt;">
                    #end
                    <img class="iconMoreInformation" src="/BenchSystem/resource/plugins/tipped-3.1.3/images/skills.png" title="Skills" alt="Skills" onmouseover="ShowToolTip()" />
                    </span>
                    &nbsp;
                    <span class="commentToolTip" title="&lt;b&gt;Comment:&lt;/b&gt; Aqui van los comentarios">
                    <img class="iconMoreInformation" src="/BenchSystem/resource/plugins/tipped-3.1.3/images/information.png" title="Information" alt="Information" onmouseover="ShowToolTip()" />
                    </span>
                </td>
                <td class="hideElement">$resource.getStatus()</td>
            </tr>
            #end
        </tbody>
    </table>
</div>