<link href="/BenchSystem/resource/DataTable/DataTableStyle.css" rel="stylesheet">
<script type="text/javascript" lang="javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<script class="jsbin" src="http://datatables.net/download/build/jquery.dataTables.nightly.js"></script>
<body id="dt_example">
<div id="container">
<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			});
</script>
<select name="select">
#foreach($dC in $developmentCenter)
  <option value=$dC.nombre>${dC.nombre}</option> 
#end
</select>
<br>
<br>
<br>
<fieldset>	
<legend>TABLE</legend>	
<table cellspacing="0" border="1" class="table table-hover" id="example">
	<thead style="background:#4b5bf6">
		<tr >
			<td >
				Id
            </td>
			<td >
				Name
            </td>
            <td >
				Location
            </td>
        </tr>
    </thead>
	<tbody >
		#foreach($resource in $resources)
			<tr >
			<td >
				$resource.getResourceId()
            </td>
			<td >
				$resource.getName()
            </td>
            <td >
				$resource.getLocation()
            </td>
        </tr>      
        
		#end
    </tbody>
	<tfoot >

    </tfoot>
</table>
</fieldset>
</div>
</table>

